@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
.main-article {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
  font-size: 18px;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: transform .75s cubic-bezier(0.075, 0.500, 0.000, 1.000);
}

@font-face {
  font-family: raleway_f;
  src: url(../../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_f;
  src: url(../../fonts/raleway-black.woff2);
  font-weight: 900;
}
.main-header {
  position: relative;
}
.main-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background: url("/../../img/ground.png") no-repeat center;
  background-size: cover;
  bottom: calc(var(--index) * -4.5);
}

.layers {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layers__header {
  z-index: 1;
  -webkit-transform: translate3d(0, calc(var(--scrolTop) / 2), 0);
          transform: translate3d(0, calc(var(--scrolTop) / 2), 0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 3.3);
  color: #e7e7e0;
  text-shadow: 0 0 15px #9d822b;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.layers__caption {
  font-size: calc(var(--index) * 1.2);
}
.layers__middle {
  -webkit-transform: translate3d(0, calc(var(--scrolTop) / 3), 0);
          transform: translate3d(0, calc(var(--scrolTop) / 3), 0);
  z-index: 2;
}
.layers__base {
  -webkit-transform: translate3d(0, calc(var(--scrolTop) / 2), 0);
          transform: translate3d(0, calc(var(--scrolTop) / 2), 0);
  z-index: 0;
}
.layers__front {
  -webkit-transform: translate3d(0, calc(var(--scrolTop) / 6), 0);
          transform: translate3d(0, calc(var(--scrolTop) / 6), 0);
  z-index: 1;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.container {
  will-change: transform;
}
