@import "nullStyle.scss";
@import "article.scss";

body{
    background-color: #010101;
    color: #fff;
    font-family: raleway_f, sans-serif;  
    line-height: 1.55;
    font-size: 18px;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: transform .75s cubic-bezier(0.075, 0.500, 0.000, 1.000);
}

@font-face{
    font-family: raleway_f;
    src: url(../../fonts/raleway-regular.woff2);
}

@font-face{
    font-family: raleway_f;
    src: url(../../fonts/raleway-black.woff2);
    font-weight: 900;
}



// Первый блок
.main-header {
    position: relative;
    &::after{
        content: '';
        position: absolute;
        z-index: 100;
        width: 100%;
        height: calc(var(--index)*10);
        background: url('../../img/ground.png')  no-repeat center;
        background-size: cover;
        bottom: calc(var(--index) * -4.5);;
    }
}
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;

        // Кастом текста
		&__header {
            z-index: 1;
            transform: translate3d(0, calc(var(--scrolTop) / 2), 0);
            will-change: transform;
            text-transform: uppercase;
            font-weight: 900;
            font-size: calc(var(--index) *1.8);
            letter-spacing: calc(var(--index) / 3.3);
            color: #e7e7e0;
            text-shadow: 0 0 15px #9d822b;
            transition: var(--transition);
		}

		&__caption {
            font-size: calc(var(--index) *1.2);
		}

        &__title {
		}

		&__middle {
            transform: translate3d(0, calc(var(--scrolTop) / 3), 0);
            z-index: 2;
		}

		&__base {
            transform: translate3d(0, calc(var(--scrolTop) / 2), 0);
            z-index: 0;
		}

		&__front {
            transform: translate3d(0, calc(var(--scrolTop) / 6), 0);
            z-index: 1;
		}
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transition: var(--transition);
}

.container{
    will-change: transform;
}